{% if pytest %}pytest>=3.0.7{% endif %}
{% if tox %}tox>=2.7.0{% endif %}
{% if flask %}Flask==0.12.2
flask-cors==3.0.2{% endif %}
{% if logging %}logzero  # see github.com/metachris/logzero{% endif %}
